@model IEnumerable<DomainLayer.Haqbahoo.Entities.Car>
@{
    ViewData["Title"] = "Car List";
}
<!-- Page Header Start -->
<div class="page-header bg-section parallaxie">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Page Header Box Start -->
                <div class="page-header-box">
                    <h1 class="text-anime-style-3" data-cursor="-opaque">Our Cars</h1>
                    <nav class="wow fadeInUp">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-area="" asp-action="Index">home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Cars</li>
                        </ol>
                    </nav>
                </div>
                <!-- Page Header Box End -->
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Page Fleets Start -->
<div class="page-fleets">
    <div class="container">
        <div class="row">
            @*             <div class="col-lg-3"> *@
            @*    <!-- Fleets Sidebar Start -->
                <div class="fleets-sidebar wow fadeInUp">
                    <!-- Fleets Search Box Start -->
                    <div class="fleets-search-box">
                        <form id="fleetsForm" action="#" method="POST">
                            <div class="form-group">
                                <input type="text" name="search" class="form-control" id="search" placeholder="Search..." required>
                                <button type="submit" class="section-icon-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                        </form>
                    </div>
                    <!-- Fleets Search Box End -->

                    <div class="fleets-sidebar-list-box">
                        <!-- Fleets Sidebar List Start -->
                        <div class="fleets-sidebar-list">
                            <div class="fleets-list-title">
                                <h3>categories</h3>
                            </div>

                            <ul>
                                <li class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkbox1">
                                    <label class="form-check-label" for="checkbox1">sport cars</label>
                                </li>

                                <li class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkbox2">
                                    <label class="form-check-label" for="checkbox2">electric car</label>
                                </li>

                                <li class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkbox3">
                                    <label class="form-check-label" for="checkbox3">Convertible</label>
                                </li>

                                <li class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkbox4">
                                    <label class="form-check-label" for="checkbox4">luxury cars</label>
                                </li>

                                <li class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkbox5">
                                    <label class="form-check-label" for="checkbox5">sedan</label>
                                </li>

                                <li class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkbox6">
                                    <label class="form-check-label" for="checkbox6">coupe cars</label>
                                </li>
                            </ul>
                        </div>
                        <!-- Fleets Sidebar List End -->
                        <!-- Fleets Sidebar List Start -->
                        <div class="fleets-sidebar-list">
                            <div class="fleets-list-title">
                                <h3>pickup location</h3>
                            </div>

                            <ul>
                                <li class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkbox7">
                                    <label class="form-check-label" for="checkbox7">abu dhabi</label>
                                </li>

                                <li class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkbox8">
                                    <label class="form-check-label" for="checkbox8">alain</label>
                                </li>

                                <li class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkbox9">
                                    <label class="form-check-label" for="checkbox9">dubai</label>
                                </li>

                                <li class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkbox10">
                                    <label class="form-check-label" for="checkbox10">sharjah</label>
                                </li>
                            </ul>
                        </div>
                        <!-- Fleets Sidebar List End -->
                        <!-- Fleets Sidebar List Start -->
                        <div class="fleets-sidebar-list">
                            <div class="fleets-list-title">
                                <h3>dropoff location</h3>
                            </div>

                            <ul>
                                <li class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkbox11">
                                    <label class="form-check-label" for="checkbox11">abu dhabi</label>
                                </li>

                                <li class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkbox12">
                                    <label class="form-check-label" for="checkbox12">alain</label>
                                </li>

                                <li class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkbox13">
                                    <label class="form-check-label" for="checkbox13">dubai</label>
                                </li>
                            </ul>
                        </div>
                        <!-- Fleets Sidebar List End -->
                    </div>
                </div>
                <!-- Fleets Sidebar End --> *@
        </div>

        <div class="col-lg-12">
            <!-- Fleets Collection Box Start -->
            <div class="fleets-collection-box">
                <div class="row">
                    @foreach (var car in Model)
                    {
                        
                        <div class="col-lg-4 col-md-6">
                            <!-- Perfect Fleets Item Start -->
                            <div class="perfect-fleet-item fleets-collection-item wow fadeInUp">
                                <!-- Image Box Start -->
                                <div class="image-box">
                                    <a asp-controller="Car" asp-area="" asp-route-carId="@car.Id" asp-action="Detail">
                        
                                    <img src="/@car.CoverImageUrl" alt="">
                        </a>
                                </div>
                                <!-- Image Box End -->
                                <!-- Perfect Fleets Content Start -->
                                <div class="perfect-fleet-content">
                                    <!-- Perfect Fleets Title Start -->
                                    <div class="perfect-fleet-title">
                                        <h3>@car.Category.Name</h3>
                                        <h2>@car.Name</h2>
                                        @* <h2>BMW M2 Car 2017</h2> *@
                                    </div>
                                    <!-- Perfect Fleets Content End -->
                                    <!-- Perfect Fleets Body Start -->
                                    <div class="perfect-fleet-body">
                                        <ul>
                                            @foreach (var feature in car.CarFeatures)
                                            {
                                                <li><img src="/@feature.Feature.ImageUrl" alt="">@feature.Feature.Name</li>

                                            }

                                        </ul>
                                    </div>
                                    <!-- Perfect Fleets Body End -->
                                    <!-- Perfect Fleets Footer Start -->
                                    <div class="perfect-fleet-footer">
                                        <!-- Perfect Fleets Pricing Start -->
                                        <div class="perfect-fleet-pricing">
                                            <h2>RS @car.RentPerDay<span>/day</span></h2>
                                        </div>
                                        <!-- Perfect Fleets Pricing End -->
                                        <!-- Perfect Fleets Btn Start -->
                                        <div class="perfect-fleet-btn">
                                            <a asp-controller="Car" asp-action="Detail" asp-route-carId="@car.Id" class="section-icon-btn"><img src="/assets/site/images/arrow-white.svg" alt=""></a>
                                        </div>
                                        <!-- Perfect Fleets Btn End -->
                                    </div>
                                    <!-- Perfect Fleets Footer End -->
                                </div>
                                <!-- Perfect Fleets Content End -->
                            </div>
                            <!-- Perfect Fleets Item End -->
                        </div>
                        
                    }


                      @*   <div class="col-lg-12">
                            <!-- Fleets Pagination Start -->
                            <div class="fleets-pagination wow fadeInUp" data-wow-delay="0.5s">
                                <ul class="pagination">
                                    <li><a href="#"><i class="fa-solid fa-arrow-left-long"></i></a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#"><i class="fa-solid fa-arrow-right-long"></i></a></li>
                                </ul>
                            </div>
                            <!-- Fleets Pagination End -->
                        </div> *@
                    </div>
                </div>
                <!-- Fleets Collection Box End -->
            </div>
        </div>
    </div>
</div>
<!-- Page Fleets End -->