@using ApplicationLayer.Haqbahoo.Helper
@using DomainLayer.Haqbahoo.Entities
@model Car
<!-- Page Header Start -->
<div class="page-header bg-section parallaxie">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Page Header Box Start -->
                <div class="page-header-box">
                    <h1 class="text-anime-style-3" data-cursor="-opaque"> @AppHelper.FormatVehicle(Model.Make, Model.Name, Model.Variant, Model.Model)</h1>
                    <nav class="wow fadeInUp">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-area="" asp-action="Index">home</a></li>
                            <li class="breadcrumb-item"><a>car-detail</a></li>
                            @* <li class="breadcrumb-item active" aria-current="page">luxury car</li> *@
                        </ol>
                    </nav>
                </div>
                <!-- Page Header Box End -->
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Page Feets Single Start -->
<div class="page-fleets-single">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <!-- Feets Single Sidebar Start -->
                <div class="fleets-single-sidebar">
                    <div class="fleets-single-sidebar-box wow fadeInUp">
                        <!-- Feets Single Sidebar Pricing Start -->
                        <div class="fleets-single-sidebar-pricing">
                            <h2>RS @Model.RentPerDay<span>/rent per day</span></h2>
                        </div>
                        <!-- Feets Single Sidebar Pricing End -->
                        <!-- Feets Single Sidebar List Start -->
                        <div class="fleets-single-sidebar-list">
                            <table style="width: 100%; border-collapse: collapse;">
                                <tbody>
                                    <tr>
                                        <td style="padding: 12px; font-weight: bold; width: 150px;">Name</td>
                                        <td style="padding: 12px;">
                                            @AppHelper.FormatVehicle(Model.Make, Model.Name, Model.Variant, Model.Model)
                                        </td>
                                    </tr>
                                    <tr><td colspan="2" style="border-bottom: 1px solid #ddd;"></td></tr>
                                    <tr>
                                        <td style="padding: 12px; font-weight: bold; width: 150px;">Category</td>
                                        <td style="padding: 12px;">@Model.Category.Name</td>
                                    </tr>
                                    <tr><td colspan="2" style="border-bottom: 1px solid #ddd;"></td></tr>

                                    <tr>
                                        <td style="padding: 12px; font-weight: bold; width: 150px;">Transmission</td>
                                        <td style="padding: 12px;">@Model.Transmission</td>
                                    </tr>
                                    <tr><td colspan="2" style="border-bottom: 1px solid #ddd;"></td></tr>

                                    <tr>
                                        <td style="padding: 12px; font-weight: bold; width: 150px;">Air Condition</td>
                                        <td style="padding: 12px;">@Model.AirCondition</td>
                                    </tr>
                                  <tr><td colspan="2" style="border-bottom: 1px solid #ddd;"></td></tr>
                                    <tr>
                                        <td style="padding: 12px; font-weight: bold; width: 150px;">Driver</td>
                                        <td style="padding: 12px;">@Model.Driver</td>
                                    </tr>
                                    <tr><td colspan="2" style="border-bottom: 1px solid #ddd;"></td></tr>
                                    <tr>
                                        <td style="padding: 12px; font-weight: bold; width: 150px;">Fuel</td>
                                        <td style="padding: 12px;">@Model.Fuel</td>
                                    </tr>
                                    <tr><td colspan="2" style="border-bottom: 1px solid #ddd;"></td></tr>
                                    <tr>
                                        <td style="padding: 12px; font-weight: bold; width: 150px;">Color</td>
                                        <td style="padding: 12px;">@Model.Color</td>
                                    </tr>
                                    @* <tr><td colspan="2" style="border-bottom: 1px solid #ddd;"></td></tr> *@
                                </tbody>
                            </table>
                        </div>

                        <!-- Feets Single Sidebar List End -->
                        <!-- Feets Single Sidebar Btn Start -->
                        <div class="fleets-single-sidebar-btn">
                            @{
                                var carModel = AppHelper.FormatVehicle(Model.Make, Model.Name, Model.Variant, Model.Model);
                                var whatsappMessage = $"Hello, I would like to rent a car. Here are my details:\n\n" +
                                $"Car Model: {carModel}\n" +
                                $"Rental Duration: [Enter Number of Days]\n" +
                                $"Full Name: [Enter Name]\n\n" +
                                $"Please confirm availability and rental charges.\n" +
                                $"Looking forward to your response.\nThanks!";

                                var encodedMessage = Uri.EscapeDataString(whatsappMessage); // Encode the message properly
                                var whatsappLink = $"https://wa.me/923005128289?text={encodedMessage}";
                            }

                            <a href="@whatsappLink" class="btn-default" target="_blank">Book Now</a>
                        


                          


                            @* <span>or</span> *@
                            @* <a href="#" class="wp-btn"><i class="fa-brands fa-whatsapp"></i></a> *@
                        </div>
                        <!-- Feets Single Sidebar Btn End -->
                    </div>

                    <!-- Booking Form Box Start -->
                    <div class="booking-form-box">
                        <!-- Booking PopUp Form Start -->
                        <form id="bookingform" class="white-popup-block mfp-hide booking-form">
                            <div class="section-title">
                                <h2>Reserve your vehicle today!</h2>
                                <p>Fill out the form below to reserve your vehicle. Complete the necessary details to ensure a smooth rental experience.</p>
                            </div>
                            <fieldset>
                                <div class="row">
                                    <div class="booking-form-group col-md-6 mb-4">
                                        <input type="text" name="name" class="booking-form-control" id="name" placeholder="Full Name" required>
                                        <div class="help-block with-errors"></div>
                                    </div>

                                    <div class="booking-form-group col-md-6 mb-4">
                                        <input type="email" name="email" class="booking-form-control" id="email" placeholder="Enter Your Email" required>
                                        <div class="help-block with-errors"></div>
                                    </div>

                                    <div class="booking-form-group col-md-6 mb-4">
                                        <input type="text" name="phone" class="booking-form-control" id="phone" placeholder="Enter Your Number" required>
                                        <div class="help-block with-errors"></div>
                                    </div>

                                    <div class="booking-form-group col-md-6 mb-4">
                                        <select name="cartype" class="booking-form-control form-select" id="cartype" required>
                                            <option value="" disabled selected>Choose Car Type</option>
                                            <option value="sport_car">sport car</option>
                                            <option value="convertible_car">convertible car</option>
                                            <option value="sedan_car">sedan car</option>
                                            <option value="luxury_car">luxury car</option>
                                            <option value="electric_car">electric car</option>
                                            <option value="coupe_car">coupe car</option>
                                        </select>
                                        <div class="help-block with-errors"></div>
                                    </div>

                                    <div class="booking-form-group col-md-6 mb-4">
                                        <select name="location" class="booking-form-control form-select" id="pickuplocation" required>
                                            <option value="" disabled selected>Pick Up Location</option>
                                            <option value="abu_dhabi">abu dhabi</option>
                                            <option value="alain">alain</option>
                                            <option value="dubai">dubai</option>
                                            <option value="sharjah">sharjah</option>
                                        </select>
                                        <div class="help-block with-errors"></div>
                                    </div>

                                    <div class="booking-form-group col-md-6 mb-4">
                                        <input type="text" name="date" placeholder="PickUp Date" class="booking-form-control datepicker" id="pickupdate" required>
                                        <div class="help-block with-errors"></div>
                                    </div>

                                    <div class="booking-form-group col-md-6 mb-4">
                                        <select name="droplocation" class="booking-form-control form-select" id="droplocation" required>
                                            <option value="" disabled selected>Drop Off Location</option>
                                            <option value="abu_dhabi">abu dhabi</option>
                                            <option value="alain">alain</option>
                                            <option value="sharjah">sharjah</option>
                                        </select>
                                        <div class="help-block with-errors"></div>
                                    </div>

                                    <div class="booking-form-group col-md-6 mb-4">
                                        <input type="text" name="date" class="booking-form-control datepicker" id="returndate" placeholder="Return Date" required>
                                        <div class="help-block with-errors"></div>
                                    </div>

                                    <div class="booking-form-group col-md-12 mb-4">
                                        <textarea name="msg" class="booking-form-control" id="msg" rows="3" placeholder="Write Your Message" required></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>

                                    <div class="col-md-12 booking-form-group">
                                        <button type="submit" class="btn-default">rent now</button>
                                        <div id="msgSubmit" class="h3 hidden"></div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        <!-- Booking PopUp Form End -->
                    </div>
                    <!-- Booking Form Box End -->
                </div>
                <!-- Feets Single Sidebar End -->
            </div>

            <div class="col-lg-8">
                <!-- Feets Single Content Start -->
                <div class="fleets-single-content">
                    <!-- Feets Single Slider Start -->
                    <div class="fleets-single-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <!-- Fleets Image Slide Start -->
                                @foreach(var image in Model.GalleryImages)
                                {
                                    <div class="swiper-slide">
                                        <div class="fleets-slider-image">
                                            <figure class="image-anime">
                                                <img src="/@image.ImageUrl" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                    <!-- Fleets Image Slide End -->
                                }
                              
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <!-- Feets Single Slider End -->
                    <!-- Feets Benefits Start -->
                    <div class="fleets-benefits wow fadeInUp">
                        <!-- Feets Benefits Item Start -->
                        <div class="fleets-benefits-item">
                            <div class="icon-box">
                                <img src="images/icon-fleets-benefits-1.svg" alt="">
                            </div>
                            <div class="fleets-benefits-content">
                                <h3>Note</h3>
                                <p>All cars only available with driver</p>
                            </div>
                        </div>
                        <!-- Feets Benefits Item End -->
                        <!-- Feets Benefits Item Start -->
                        <div class="fleets-benefits-item">
                            <div class="icon-box">
                                <img src="images/icon-fleets-benefits-2.svg" alt="">
                            </div>
                            <div class="fleets-benefits-content">
                                <h3>Contact Our Sales</h3>
                                <p><a href="tel:+923245708356">+92 324 5708356</a></p>
                            </div>

                        </div>
                        <!-- Feets Benefits Item End -->
                    </div>
                    <!-- Feets Benefits End -->
                    <!-- Feets Information Start -->
                    <div class="fleets-information">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">general information</h3>
                            <h2 class="text-anime-style-3" data-cursor="-opaque">Know about our car service</h2>
                            <p class="wow fadeInUp" data-wow-delay="0.25s">Lorem pretium fermentum quam, sit amet cursus ante sollicitudin velen morbi consesua the miss sustion consation porttitor orci sit amet iaculis nisan. Lorem pretium fermentum quam sit amet cursus ante sollicitudin velen fermen morbinetion consesua the risus consequation the porttiton.</p>
                        </div>
                        <!-- Section Title End -->
                        <!-- Feets Information List Start -->
                        <div class="fleets-information-list wow fadeInUp" data-wow-delay="0.5s">
                            <ul>
                                <li>24/7 Roadside Assistance</li>
                                <li>Free Cancellation & Return</li>
                                <li>Rent Now Pay When You Arrive</li>
                            </ul>
                        </div>
                        <!-- Feets Information List End -->
                    </div>
                    <!-- Feets Information End -->
                    <!-- Feets Amenities Start -->
                    <div class="fleets-amenities">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">include</h3>
                            <h2 class="text-anime-style-3" data-cursor="-opaque">features</h2>
                        </div>
                        <!-- Section Title End -->
                        <!-- Feets Amenities List Start -->
                        <div class="fleets-amenities-list wow fadeInUp" data-wow-delay="0.25s">
                            <ul>
                                @foreach(var feature in Model.CarFeatures){
                                <li>@feature.Feature.Name</li>
                                }
                              
                            </ul>
                        </div>
                        <!-- Feets Amenities List End -->
                    </div>
                    <!-- Feets Amenities End -->
                    <!-- Rental Conditions Faqs Start -->
                    <div class="rental-conditions-faqs">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">rental conditions</h3>
                            <h2 class="text-anime-style-3" data-cursor="-opaque">Policies and agreement</h2>
                        </div>
                        <!-- Section Title End -->
                        <!-- Rental Conditions FAQ Accordion Start -->
                        <div class="rental-condition-accordion" id="rentalaccordion">
                            <!-- FAQ Item Start -->
                            <div class="accordion-item wow fadeInUp">
                                <h2 class="accordion-header" id="rentalheading1">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#rentalcollapse1" aria-expanded="true" aria-controls="rentalcollapse1">
                                        How can I book a car with Haqbahoo?
                                    </button>
                                </h2>
                                <div id="rentalcollapse1" class="accordion-collapse collapse show" aria-labelledby="rentalheading1"
                                     data-bs-parent="#rentalaccordion">
                                    <div class="accordion-body">
                                        <p>You can book a car by calling our customer service, messaging us on WhatsApp, or filling out the booking form on our website. Advance booking is recommended for availability.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Item End -->
                            <!-- FAQ Item Start -->
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.25s">
                                <h2 class="accordion-header" id="rentalheading2">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#rentalcollapse2" aria-expanded="false" aria-controls="rentalcollapse2">
                                        Do I need to pay in advance to confirm my booking?
                                    </button>
                                </h2>
                                <div id="rentalcollapse2" class="accordion-collapse collapse" aria-labelledby="rentalheading2"
                                     data-bs-parent="#rentalaccordion">
                                    <div class="accordion-body">
                                        <p>Yes, a partial or full advance payment is required to secure your booking. Payment options include bank transfer, JazzCash, Easypaisa, or cash on delivery.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Item End -->
                            <!-- FAQ Item Start -->
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.5s">
                                <h2 class="accordion-header" id="rentalheading3">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#rentalcollapse3" aria-expanded="false" aria-controls="rentalcollapse3">
                                        What documents are required to rent a car?
                                    </button>
                                </h2>
                                <div id="rentalcollapse3" class="accordion-collapse collapse" aria-labelledby="rentalheading3"
                                     data-bs-parent="#rentalaccordion">
                                    <div class="accordion-body">
                                        <p>For self-drive rentals, you need to provide a valid CNIC, a driving license, and a security deposit. If renting with a driver, only your CNIC is required</p>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Item End -->
                            <!-- FAQ Item Start -->
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.75s">
                                <h2 class="accordion-header" id="rentalheading4">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#rentalcollapse4" aria-expanded="false" aria-controls="rentalcollapse4">
                                        can I take the rental car to other cities like Gilgit or Hunza?
                                    </button>
                                </h2>
                                <div id="rentalcollapse4" class="accordion-collapse collapse" aria-labelledby="rentalheading4"
                                     data-bs-parent="#rentalaccordion">
                                    <div class="accordion-body">
                                        <p>Yes, you can travel to Gilgit, Hunza, Deosai, and other northern areas with our rental cars. However, long-distance travel may require additional charges.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Item End -->
                            <!-- FAQ Item Start -->
                            <div class="accordion-item wow fadeInUp" data-wow-delay="1s">
                                <h2 class="accordion-header" id="rentalheading5">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#rentalcollapse5" aria-expanded="false" aria-controls="rentalcollapse5">
                                        Can I rent a car without a driver’s license?
                                    </button>
                                </h2>
                                <div id="rentalcollapse5" class="accordion-collapse collapse" aria-labelledby="rentalheading5"
                                     data-bs-parent="#rentalaccordion">
                                    <div class="accordion-body">
                                        <p>No, a valid Pakistani or international driving license is required for self-drive rentals. However, you can rent a car with a driver without a license.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Item End -->
                            <!-- FAQ Item Start -->
                            <div class="accordion-item wow fadeInUp" data-wow-delay="1.25s">
                                <h2 class="accordion-header" id="rentalheading6">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#rentalcollapse6" aria-expanded="false" aria-controls="rentalcollapse6">
                                        Can I extend my rental period after booking?
                                    </button>
                                </h2>
                                <div id="rentalcollapse6" class="accordion-collapse collapse" aria-labelledby="rentalheading6"
                                     data-bs-parent="#rentalaccordion">
                                    <div class="accordion-body">
                                        <p>Yes, you can extend your rental by informing us in advance. Extension is subject to car availability.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Item End -->
                        </div>
                        <!-- Rental Conditions FAQ Accordion End -->
                    </div>
                    <!-- Rental Conditions Faqs End -->
                </div>
                <!-- Feets Single Content End -->
            </div>
        </div>
    </div>
</div>
<!-- Page Feets Single End -->