@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
  


    <!-- favicon -->
    <link rel="shortcut icon" href="/assets/site/siteImages/logo.jpg" />

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Responsive Admin Template" />
    <meta name="author" content="RedstarHospital" />
    <title>HaqBahoo | CRM</title>
    <!-- google font -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
          type="text/css" />
    <!-- icons -->
    <link rel="stylesheet" href="/assets/crm/plugins/iconic/css/material-design-iconic-font.min.css">
    <!-- bootstrap -->
    <link href="/assets/crm/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme Styles -->
    <link href="/assets/crm/css/theme/light/theme_style.css" rel="stylesheet" id="rt_style_components" type="text/css" />
    <!-- style -->
    <link rel="stylesheet" href="/assets/crm/css/pages/login.css">
    <!-- favicon -->
    <link rel="shortcut icon" href="/assets/site/siteImages/logo.jpg" />
</head>
<body>
    <div class="main">
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="/assets/site/siteImages/logo.jpg" alt="sing up image"></figure>
                        <a href="/" class="signup-image-link">Back</a>
                    </div>
                    <div class="signin-form">
                        <h2 class="form-title">Login</h2>
                        <form id="account" method="post" class="register-form">
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                            <div class="form-group">
                                <div>
                                    <input asp-for="Input.Email" class="form-control input-height" autocomplete="username" aria-required="true" placeholder="User Name" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div>
                                    <input asp-for="Input.Password" type="password" class="form-control input-height" autocomplete="current-password" aria-required="true" placeholder="Password" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="checkbox" class="agree-term" asp-for="Input.RememberMe" id="remember-me" />
                                <label for="remember-me" class="label-agree-term">
                                    <span><span></span></span>
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>

                            <div class="form-group form-button">
                                <button id="login-submit" type="submit" class="btn btn-round btn-primary">Login</button>
                            </div>

                           @*  <div class="form-group">
                                <p><a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a></p>
                                <p><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a></p>
                                <p><a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a></p>
                            </div> *@
                        </form>

                        <div class="social-login">
                            <span class="social-label">Or login with</span>
                            <ul class="socials">
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <!-- start js include path -->
    <script src="/assets/crm/plugins/jquery/jquery.min.js"></script>

    <script src="/assets/crm/plugins/popper/popper.js"></script>
    <script src="/assets/crm/plugins/jquery-blockui/jquery.blockui.min.js"></script>
    <script src="/assets/crm/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="/assets/crm/plugins/feather/feather.min.js"></script>
    <!-- bootstrap -->
    <script src="/assets/crm/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/crm/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <script src="/assets/crm/plugins/sparkline/jquery.sparkline.js"></script>
    <script src="/assets/crm/js/pages/sparkline/sparkline-data.js"></script>
    <!-- Common js-->
    <script src="/assets/crm/js/app.js"></script>
    <script src="/assets/crm/js/layout.js"></script>
    <script src="/assets/crm/js/theme-color.js"></script>
    <!-- material -->
    <script src="/assets/crm/plugins/material/material.min.js"></script>
    <!--apex chart-->
    <script src="/assets/crm/plugins/apexcharts/apexcharts.min.js"></script>
    <script src="/assets/crm/js/pages/chart/apex/home-data.js"></script>
    <!-- summernote -->
    <script src="/assets/crm/plugins/summernote/summernote.js"></script>
    <script src="/assets/crm/js/pages/summernote/summernote-data.js"></script>
    <!-- Bootstrap Select JS -->
    <!-- end js include path -->
</body>
</html>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
@* 
<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Use a local account to log in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>


 *@